
.cardGrid{
    display: grid ;
    width: 100%;
    flex-wrap: wrap;
    padding: 50px 100px 40px 100px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    grid-auto-rows: minmax(100px, auto);
}

.card {
    display: grid ;
    justify-content: center;
    width: 100%;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.filtersBar {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #e8e8b9;
    padding: 15px 150px 15px 150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    font-weight: bolder;
    color:rgb(3, 89, 49);
}

.contentLoad {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #153b04;
    padding: 7px 0px 7px 0px;
}
.contentLoad button {
    background: #e8e8b9;
    flex:1;
    width: 50px;
    height: 40px;
    max-width: 280px;
    border: 0;
    border-radius: 60px;
    cursor: pointer;
    font-size: larger;
    font-weight: bolder;
    color: #153b04;
}

