
.cardConteiner{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    padding: 0px 20px 120px 20px;
    background-color: #d5fdc2;
    border-top-left-radius: 20px;
    transform: translateY(69%);
    transition: transform .25s;
}

.cardConteiner::before {
    content: '';
    position: absolute;
    top: -47px;
    right: -45px;
    width: 90px;
    height: 100px;
    transform: rotate(-175deg);
    border-radius: 50%;
    box-shadow: inset 48px 48px #d5fdc2;
}

.link {
    text-decoration: none;
}

.name {
    color: green;
    line-height: 25px;
    margin-top: 18px;
    margin-bottom: 12px;
}

.score {
    display: block;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 37%;
    color: rgb(40, 78, 18);
    font-weight: 700;
}

.dietContainer {
    position: absolute;
    padding-bottom: 20%;
    margin: -25% 0% 20% 0%;
    width: 85%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: row;
  gap: 1.8rem;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

.dietDetails {
    width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  gap: 0rem;
  transition: transform 0.2s;
}

.dietDetails p {
    font-weight: 300;
    color: green;
}

.dietDetails img {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
}

.dietDetails:hover {
    transform: scale(1.1) rotate(2deg);
}



.card:hover .cardConteiner {
    transform: translateY(0);
}

.card:hover .diets {
    opacity: 2;
    transition-delay: .25s;
}