*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containerBar {
    width: 250%;
    position: relative;
    background-position: center;
    background-size: cover;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    bottom: 14px;
    right: 170px;
}

.container {
       width: 100%;
       max-width: 600px;
       background: rgba(71, 198, 48, 0.8);
       display: flex;
       align-items: center;
       border-radius: 60px;
       padding: 6px 8px 6px 40px;
}

.input {
    background: transparent;
    flex:1;
    border: 0;
    outline: none;
    padding: 10px 0px;
    font-size: 18px;
    color: #ffffff
}

::placeholder {
    color: #ffffff;
}

.container button img {
    width: 35px;
}

.container button {
    border: 0;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background: #328f40;
    cursor: pointer;
}